@font-face {
  font-family: "iconfont";
  src: url("./fonts/iconfont.eot?t=1581596908778"); /* IE9 */
  src: url("./fonts/iconfont.eot?t=1581596908778#iefix")
      format("embedded-opentype"),
    url("./fonts/iconfont.woff?t=1581596908778") format("woff"),
    url("./fonts/iconfont.ttf?t=1581596908778") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("./fonts/iconfont.svg?t=1581596908778#iconfont") format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon-test:before {
  content: "\e636";
}

.iconicon-test1:before {
  content: "\e63c";
}
